div(class="app--section--header")
  div(class="grid-33")
    div(class="app--section--heading")
      h2 Timeline
  div(class="grid-33")
    div(class="app--section--heading")
      strong 129
      h2 Following
  div(class="grid-33")
    div(class="app--section--heading")
      h2 Direct Messages
